.App {
  text-align: center;
  background-color: #fff;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0 18rem;
}

input {
  width: 60rem;
  height: 2rem;
  outline: none;
  border-radius: 5px;
  border: solid 1px #efefef;
  padding: 4px;
}

form input:focus {
  border: solid 3px #efefef;
}

label {
  width: 60rem;
  text-align: start;
  margin: 1rem 0;
  font-weight: 500;
}

form button {
  margin: 1rem 0;
  font-weight: 700;
  background: dodgerblue;
  border-radius: 6px;
  border: none;
  color: white;
  width: 96px;
  height: 42px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: all .3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.selected-contact button {
  margin: 1rem 0;
  font-weight: 700;
  background: dodgerblue;
  border-radius: 6px;
  border: none;
  color: white;
  width: 160px;
  height: 42px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: all .3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.selected-contact button:hover {
  background: #fff;
  color: dodgerblue;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

form button:hover {
  background: #fff;
  color: dodgerblue;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.contact {
  padding: 8px
}

.contact-list button {
  background: #e92626;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 42px;
  border: none;
  border-radius: 5px;
  color: rgba(222, 222, 222, 1);
  transition: all .3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  outline: none;
}

.contact-list button:hover {
  color: rgb(233, 38, 38);
  background: rgba(222, 222, 222, 1);
}

.contact .delete-button {
  background: #e92626;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 42px;
  border: none;
  border-radius: 5px;
  color: rgba(222, 222, 222, 1);
  transition: all .3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  outline: none;
}

.contact .delete-button:hover {
  color: rgb(233, 38, 38);
  background: rgba(222, 222, 222, 1);
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: center;
}

.Navigation {
  width: 100%;
  margin: 0 2rem 0 2rem;
}

.Navigation ul {
  display: flex;
  display: flex;
  width: 28rem;
  justify-content: space-around;
  align-items: center;
}

.Navigation ul li a {
  list-style-type: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  color: #727272;
}

.activeStyle {
  background: dodgerblue;
  border-radius: 6px;
  border: none;
  color: white !important;
  padding: 8px;
}

.header {
  background-color: #f6f6f6 !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 4rem;
  display: flex;
  align-items: center;
}

.footer {
  color: #727272;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 0;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f6f6f6;
  font-weight: 600;
  font-size: 1rem;
  z-index: 1;
}

.contact-list ul {
  margin: 2rem;
}

.contact-list h2 {
  margin-top: 2rem;
  width: 40%;
  color: #656565;
}

section {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-list .icon-sections {
  display: flex;
  align-items: center;
  width: 8rem;
  justify-content: space-between;
}